@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');
body{
    background-color:#d5e0ee;
    font-family: Outfit;
    
}

.container{
    width: 30%;
    height: auto;
    margin: 0.5em auto;
    /* border: 2px solid black; */
    padding: 1em;
    background-color: white;
    border-radius: 4%;
    max-width: 900px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 600px){
    .container{
        width: 50vw;
    }
}

img{
    max-width: 100%;
}

.container h2{
    text-align: center;
    
}

 .indent{
    padding: 0px 20px;
} 



.container h3{
    text-align: center;
    font-weight: 400;
    color:hsl(220, 15%, 55%) ;
}